
@font-face {
  font-family: 'InvolveBold';
  src: url('../fonts/Involve/Involve-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Involve';
  src: url('../fonts/Involve/Involve-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'InvolveMedium';
  src: url('../fonts/Involve/Involve-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'InvolveSemibold';
  src: url('../fonts/Involve/Involve-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/ico/icomoon.eot?42uoio');
  src:  url('../fonts/ico/icomoon.eot?42uoio#iefix') format('embedded-opentype'),
  url('../fonts/ico/icomoon.ttf?42uoio') format('truetype'),
  url('../fonts/ico/icomoon.woff?42uoio') format('woff'),
  url('../fonts/ico/icomoon.svg?42uoio#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-01:before {
  content: "\e900";
}
.icon-02:before {
  content: "\e901";
}
