.page__about {
  background-color: #fff;
  padding-top: 40px;
}

@media (max-width: 1199px) {
  .hero_block.hero_subpage {
    padding: 0;
  }
  .page-subpage .page__hero {
    margin-bottom: 20px;
  }
}