.accordion {
  width: 100%;
  border-bottom: none;
  border-bottom: none;
}

.accordion__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.accordion__btn {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: none;
  padding: 5px 20px;
  height: auto;
  min-height: 28px;
  margin-bottom: 8px;
  background-color: transparent;
  text-decoration: none;
  color: $color-black;
  transition: all .15s;
  cursor: default;
  border-bottom: none;
    .accordion__text {
      font-family: $font-family_semibold;
      font-size: 16px;
      display: flex;
      align-items: center;
        img {
          margin-right: 6px;
        }
    }

  &:before { /* vertical element */
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: calc(50% - 10px);
    transform: rotate(45deg);
    will-change: transform, width;
    transition: all .15s;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-right: 2px solid #C6C6C6;
    border-bottom: 2px solid #C6C6C6;
    z-index: 1;
  }
}

.accordion__content {
  opacity: 0;
}


.accordion__item_open {

  & .accordion__btn {
    background-color: transparent;
    border-bottom: none;

    &:before {
      transform: rotate(-135deg);
    }
  }

  & .accordion__content {
    opacity: 1;
    background: transparent;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    .form__checkbox {
      display: block;
    }
  }
}

.accordion__content {
  display: none;
  padding: 10px 0 10px 0;
  border-bottom: none;
  background-color: transparent;
  will-change: height;
    .list {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
}

.accordion__text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 16px;
  font-family: $font-family;
  padding-left: 0;
  font-weight: normal;
  left: 0;
  position: absolute;
}



.cart_acc {
  margin-bottom: 32px;
  .price_box {
    .price {
      display: flex;
      align-items: center;
      margin-bottom: 4px;
      .new {
        color: $color-green;
        font-size: 20px;
        font-family: $font-family_semibold;
        margin-right: 12px;
      }
      .old {
        color: #CCCCCC;
        font-size: 14px;
        text-decoration: line-through;
      }
    }
    .bonus {
      font-size: 12px;
      color: #9A9A9A;
      span {
        color: $color-green;
      }
    }
  }
  .accordion__btn {
    background-color: #F6F6F6;
    padding: 20px 40px 20px 20px;
    border-radius: 7px;
      &:before {
        right: 20px;
      }
      .cart_element {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .cart_el_name {
          font-family: $font-family_bold;
          font-size: 16px;
        }
        .cart_img {
          margin-right: 20px;
          border-radius: 7px;
          border: 1px solid $color-border;
          padding: 6px;
          width: 120px;
          height: 120px;
          img {
            width: 100%;
            object-fit: contain;
            display: block;
          }
        }
      }
    .delete {
      background-color: transparent;
      border: none;
      padding: 4px 12px;
    }
  }
  .accordion__item_open {
    background-color: #F6F6F6;
    border-radius: 10px;
    margin-bottom: 8px;
      .accordion__content {
        padding: 0 20px 20px 20px;
        .parameter_p .qtt {
          background-color: #fff;
        }
          .btns {
            margin-top: 12px;
          }
      }
  }


  .cart__item_body__row_title {
    font-family: $font-family_bold;
    font-size: 16px;
    margin-bottom: 12px;
  }
  .cart__item_body__row_body__label-box {
    display: flex;
    width: 100%;
    margin-bottom: 12px;
      .product_details__box {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
          .product_details__box_item {
            margin-right: 12px;
            margin-bottom: 12px;
              .dropdown {
                width: 240px;
                .material_icon {
                  margin-right: 8px;
                  width: 20px;
                  height: 20px;
                  display: block;
                  overflow: hidden;
                  border-radius: 50%;
                  background-color: $color-border;
                  img {
                    object-fit: cover;
                    display: block;
                    width: 100%;
                    height: 100%;
                  }
                }
                .dropdown__item {
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  width: -webkit-fill-available;
                  white-space: nowrap;
                  padding: 10px 12px;
                }
              }
              &:last-child {
                margin-right: 0;
              }
          }
      }
  }
  .param_container {

    .label_box {
      margin-bottom: 8px;
      width: 50%;
      padding: 0;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      .parameter {
        width: 100%;
        margin-bottom: 0;
        &_p {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          span {
            width: 33.333%;
            font-size: 14px;
          }
          .green {
            color: $color-green;
            font-family: $font-family_semibold !important;
          }
          span:last-child {
            font-family: $font-family;
            text-align: right;
          }
          span:nth-child(2){
            margin-left: 40px;
          }
        }
      }
      .form__checkbox_indicator {
        top: 7px;
      }
    }
  }
}

@media (max-width: 1199px) {
  .accordion__item_open {
    .accordion__btn {
      &:before {
        top: 50%;
      }
    }
  }
}

@media (max-width: 640px) {
  .accordion__btn:before {
    right: 12px;
  }
  .accordion__btn:after {
    right: 6px;
  }
}