.accordion {
  width: 100%;
  border-bottom: none;
  border-bottom: none;
}

.accordion__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.accordion__btn {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  border-bottom: none;
  padding: 12px 20px;
  background-color: transparent;
  text-decoration: none;
  color: $color-blue;
  transition: all .15s;
  will-change: background-color;
  cursor: default;
  border-bottom: none;

  &:before { /* vertical element */
    content: '';
    display: block;
    position: absolute;
    right: 26px;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    will-change: transform, width;
    transition: all .15s;
    width: 1px;
    height: 15px;
    background-color: $color-blue;
    z-index: 1;
  }

  &:after { /* horizontal element */
    content: '';
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    will-change: transform;
    transition: all .15s;
    width: 15px;
    height: 1px;
    background-color: $color-blue;
  }
}

.accordion__content {
  opacity: 0;
}


.accordion__item_open {

  & .accordion__btn {
    background-color: transparent;
    border-bottom: none;

    &:before {
      height: 1px;
    }
  }

  & .accordion__content {
    opacity: 1;
    background: transparent;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    .form__checkbox {
      display: block;
    }
  }
}

.accordion__content {
  display: none;
  padding: 10px 0 10px 0;
  border-bottom: none;
  background-color: transparent;
  will-change: height;
}

.accordion__text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 16px;
  font-family: $font-family_medium;
  padding-left: 0;
  font-weight: normal;
  left: 0;
  position: absolute;
}

@media (max-width: 640px) {
  .accordion__btn:before {
    right: 12px;
  }
  .accordion__btn:after {
    right: 6px;
  }
}