.summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  .left {
    p {
      margin-bottom: 6px;
      font-size: 13px;
    }
  }
  .price_box {
    .price {
      display: flex;
      align-items: center;
      margin-bottom: 4px;
      .new {
        color: $color-green;
        font-size: 20px;
        font-family: $font-family_semibold;
        margin-right: 12px;
      }
      .old {
        color: #CCCCCC;
        font-size: 14px;
        text-decoration: line-through;
      }
    }
    .bonus {
      font-size: 12px;
      color: #9A9A9A;
      span {
        color: $color-green;
      }
    }
  }
}

.sconto {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
    .label_box:first-child {
      margin-right: 20px;
    }
}

@media (max-width: 1199px) {
  .cart_content {
    margin: 20px 0;
    .cart_acc .param_container .label_box {
        width: 100%;
      }
    .price_box.mobile {
      margin-bottom: 12px;
    }
    .cart_acc .accordion__btn .cart_element .cart_el_name {
      font-size: 14px;
      line-height: 18px;
    }
    .cart_acc .accordion__btn .cart_element .cart_img {
      height: auto;
      width: auto;
      max-width: 100px;
    }
    .accordion__item_open {
      .accordion__btn {
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 640px) {
  .cart_acc .cart__item_body__row_body__label-box .product_details__box .product_details__box_item .dropdown {
    width: 100%;
  }
  .cart_acc .cart__item_body__row_body__label-box .product_details__box .product_details__box_item {
    margin-right: 0;
  }
  .cart_acc .param_container .label_box .parameter_p span {
    font-size: 13px;
    line-height: 16px;
  }
  .cart_acc {
    .parameter_p .qtt {
      margin-left: 32px;
      background-color: #fff;
    }
  }
  .cart_acc .accordion__item_open .accordion__content .btns {
    margin-top: 20px;
  }
  .sconto {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .summary {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
      .right {
        margin-bottom: 12px;
      }
      .left {
        width: 100%;
        .btn {
          margin-bottom: 8px;
          width: 100%;
          margin-right: 0;
        }
      }
  }
}