.dropdown {
  position: relative;
  width: 200px;
}

.dropdown_opened > .dropdown__list {
  display: block;
}

.dropdown__list {
  position: absolute;
  z-index: 11;
  display: none;
  list-style: none;
  background-color: #fff;
  padding: 0;
  margin: 0;
  width: 100%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-right: 1px solid $color-border;
  border-left: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
}

.dropdown_opened > .dropdown__text:after {
  transform: rotate(-135deg);
}

.dropdown_opened > .dropdown__text {
  border-bottom: 1px solid #fff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown__text {
  position: relative;
  color: $color-black;
  cursor: pointer;
  padding: 5px 20px;
  border: 1px solid $color-border;
  border-radius: 12px;
  background-color: $color-white;
  font-size: 16px;
  height: 50px;
  display: flex;
  align-items: center;
}

.dropdown__text:after {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 6px;
  height: 6px;
  content: '';
  border-right: 1px solid $color-black;
  border-bottom: 1px solid $color-black;
  transform: rotate(45deg);
  transition: transform .2s;
}

.dropdown__item {
  cursor: pointer;
  padding: 10px 20px;

}

.dropdown__item:hover {
  background-color: $color-gray-10;
}

.dd_process {
  margin-bottom: 20px;
  width: calc(50% - 35px);
}