.footer {
  background-color: #292929;
}

.footer__inner {
  @extend .layout-padding;
  @extend .layout-inner;
  display: flex;
  padding: 40px 0;
    &_col {
      width: 25%;
      margin-right: 32px;
        .col_name {
          color: $color-green;
          font-size: 16px;
          font-family: $font-family_semibold;
          margin-bottom: 12px;
        }
        .social {
          margin-bottom: 32px;
        }
        .ya-rait {
          margin-bottom: 12px;
        }
        .address {
          p {
            color: $color-white;
            opacity: 0.6;
          }
        }
        .list {
          list-style-type: none;
          margin: 0;
          padding: 0;
            li {
              margin-bottom: 6px;
                a {
                  opacity: 0.7;
                }
            }
        }
      &:last-child {
        margin-right: 0;
      }
    }
}

.footer_bottom {
  padding: 20px;
  background-color: $color-black;
      .footer__inner {
        padding-top: 0;
        padding-bottom: 0;
          p {
            color: #959595;
          }
      }
}

.footer_mobile {
  width: 100%;
  .accordion {
    width: 100%;
    .accordion__btn {
      margin-bottom: 16px;
      width: -webkit-fill-available;
       p {
         color: #fff;
         font-size: 16px;
       }
    }
    .accordion__btn:before {
      border-color: $color-green;
    }
      .accordion__content {
        .list {
          li {
            margin-bottom: 10px;
            a {
              color: #fff;
              font-size: 16px;
              opacity: 0.7;
            }
          }
        }
      }
      .accordion__content {
        width: 100%;
        .contacts_inner {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-bottom: 20px;
            .social {
              margin-right: 20px;
            }
        }
        .address {
          p {
            color: #fff;
            opacity: 0.7;
          }
        }
      }
  }
}

@media (max-width: 1199px) {
  .footer__inner_col {
    display: none;
  }
}