.popup_wrapper {
  position: fixed;
  background: rgba(86, 96, 105, 0.35);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 8;
  display: none;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
}

.popup {
  width: fit-content;
  background-color: $color-white;
  position: absolute;
  right: 50%;
  transform: translate(50%, -50%);
  border-radius: 20px;
  top: 50%;
  max-width: fit-content;
  margin: 20px 0;
  display: none;
  z-index: 9;
  &_inner {
    width: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
      p {
        font-size: 16px;
        line-height: 24px;
        font-family: $font-family;
        opacity: 0.6;
        margin-bottom: 20px;
      }
      .text_bold {
        margin-bottom: 20px;
        opacity: 1;
        font-size: 20px;
        font-family: $font-family_medium;
      }
    .buttons_block {
      display: flex;
        .btn:first-child {
          margin-right: 20px;
        }
    }
    .pop_form {
      width: 100%;
      margin-bottom: 20px;
      display: block;
      .form_box {
        margin-bottom: 12px;
        align-items: flex-start;
      }
    }
  }
}

.visible_popup {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-out;
  pointer-events: auto;
  overflow-y: auto;
}

.stop {
  overflow-y: hidden;
}


.blocker {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  width: 100%;
  min-height: 100%;
  height: auto;
  overflow: auto;
  z-index: 100;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
  animation: show;
  animation-duration: .3s;
}

.blocker.behind {
  background-color: transparent;
}

.close-modal {
  position: absolute;
  top: 0;
  right: -60px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 9;
  color: transparent;
  .round_link {
    margin-right: 0;
    width: 38px;
    height: 38px;
    position: relative;
    span {
      width: 12px;
      transform: rotate(45deg);
      background-color: #fff;
      &:after {
        height: 12px;
        top: -5px;
        left: 5px;
        background-color: #fff;
      }
    }
  }
}

@media (max-width: 640px) {
  .popup {
    width: 90%;
    max-width: 90%;

      .popup_inner .buttons_block {
        width: 100%;
        flex-direction: column;
        .btn {
          width: 100%;
        }
          .btn:first-child {
            margin-bottom: 20px;
          }
      }
    .popup_inner {
      .text_bold {
        margin-bottom: 12px;
      }
    }

      .close-modal {
        top: -45px;
        right: -20px;
      }
  }
}