.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;

  & li {
    flex: 0 1 auto;
  }

  & li:first-child .nav__link {
    padding-left: 0;
  }

  & li:last-child .nav__link {
    padding-right: 0;
  }
}

.nav__link {
  padding: 0 10px;
  text-decoration: none;
  font-family: $font-family;
  color: $color-white;
    &:hover {
      opacity: 0.5;
      color: $color-white;
    }
}