.page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  min-width: 320px;
  width: 100%;
  min-height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.slick-slider {
  overflow: hidden;
}

.slider_main {
  opacity: 0;
  transition: all 0.2s;
}

.add_slider {
  opacity: 1;
  transition: all 0.2s;
}

.page__inner {
  @extend .layout-inner;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.page__item {
  padding-top: 30px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
    .sidebar {
      h1, h2 {
        margin-bottom: 20px;
        margin-top: 0;
      }
      margin-right: 32px;
      max-width: 300px;
      width: auto;
      width: -webkit-fill-available;
      .accordion {
        margin-bottom: 32px;
      }
      .accordion__content {
        padding-top: 0;
        padding-left: 28px;
          a {
            opacity: 0.6;
          }
      }
      .banner {
        width: 100%;
        margin-bottom: 32px;
        img {
          width: 100%;
        }
      }
    }
    .main_content {
      width: calc(100% - 300px);
        .slider {
          width: 100%;
            &_slide {
              width: 100%;
              overflow: hidden;
              border-radius: 20px;
              img {
                display: block;
                width: 100%;
                object-fit: contain;
              }
            }
        }
    }
}

.gallery_slider.feed_slider {
  .slick-track {
    display: flex;
    align-items: stretch;
  }
  .gallery_slider__item {
    max-height: unset;
  }
}

.articles_box {
  &__item {
    text-decoration: none;
    transition: all 0.2s;
    p {
      font-family: $font-family_semibold;
      color: $color-black;
      text-decoration: none;
      font-size: 15px;
      line-height: 18px;
      margin-bottom: 4px;
      transition: all 0.2s;
    }
    .date {
      font-family: $font-family;
      color: $color-black;
      text-decoration: none;
      opacity: 0.6;
      font-size: 14px;
      margin-bottom: 20px;
    }
    .art_img {
      margin-bottom: 10px;
      width: 100%;
      border-radius: 7px;
      overflow: hidden;
      img {
        width: 100%;
        object-fit: contain;
        display: block;
      }
    }
    &:hover {
      transition: all 0.2s;
      p {
        color: $color-green;
        transition: all 0.2s;
      }
      .date {
        color: $color-black;
        transition: all 0.2s;
      }
    }
  }
}

.block_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
    h2 {
      margin-bottom: 0;
    }
  &__right {
    h2 {
      margin-bottom: 0;
    }
  }
    &__info {
      display: flex;
        &_item {
          display: flex;
          align-items: center;
          margin-right: 24px;
          color: $color-green;
          font-family: $font-family_semibold;
            img {
              display: block;
              margin-right: 6px;
            }
            .ico_span {
              margin-right: 6px;
                &:before {
                  color: $color-green;
                }
            }

          &:last-child {
            margin-right: 0;
          }

          text-decoration: none;
          &:hover {
            opacity: 0.7;
          }
        }
        .feedbck {
          p {
            margin-right: 6px;
          }
        }
        .raiting {
          span {
            margin-right: 1px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
    }
}

.filters {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
    .left {
      margin-right: 40px;
      display: flex;
      align-items: center;
      .price {
        display: flex;
        align-items: center;
        margin-right: 20px;
          p {
            font-family: $font-family_semibold;
            font-size: 16px;
            margin-right: 8px;
          }
          &_box {
            display: flex;
            align-items: center;
              p {
                font-family: $font-family_semibold;
                color: #B9B9B9;
              }
              .form__item {
                height: 24px;
                max-width: 80px;
                border-radius: 0;
                border-top: 0;
                border-left: 0;
                border-right: 0;
                  &::-webkit-input-placeholder {color: #B9B9B9; transition: color .3s;}
                  &::-moz-placeholder          {color: #B9B9B9; transition: color .3s;}
              }
          }
      }
      .btns {
        .btn {
          margin-right: 10px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  .right {
    display: flex;
    align-items: center;
      .dropdown {
        margin-right: 10px;
        .material_icon {
          margin-right: 8px;
          width: 20px;
          height: 20px;
          display: block;
          overflow: hidden;
          border-radius: 50%;
          background-color: $color-border;
          img {
            object-fit: cover;
            display: block;
            width: 100%;
            height: 100%;
          }
        }
          .dropdown__item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: -webkit-fill-available;
            white-space: nowrap;

          }
        &:last-child {
          margin-right: 0;
        }
      }
  }
}

.catalog_tile {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
    &__item {
      border: 1px solid $color-border;
      margin-bottom: 32px;
      padding: 16px;
      border-radius: 7px;
      width: calc(33.3333% - 22px);
      margin-right: 32px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;

        .item_img {
          display: block;
          margin-bottom: 12px;
          position: relative;
          width: 100%;
          min-height: 225px;
            .promo {
              position: absolute;
              width: 100%;
              top: 0;
              left: 0;
              display: flex;
              align-items: center;
              justify-content: space-between;
                .fire {
                  position: relative;
                  background-color: #fff;
                  height: 32px;
                  width: 32px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 50%;
                    .hint {
                      opacity: 0;
                      visibility: hidden;
                      position: absolute;
                      bottom: 100%;
                      left: 0;
                      background-color: #fff;
                      padding: 6px 24px;
                      color: $color-green;
                      font-family: $font-family_semibold;
                      transition: all 0.2s;
                      font-size: 12px;
                      white-space: nowrap;
                      border: 1px solid $color-green;
                      border-radius: 7px;
                      z-index: 2;
                    }
                    img {
                      width: 20px;
                      display: block;
                      object-fit: contain;
                    }
                    &:hover {
                      .hint {
                        opacity: 1;
                        visibility: visible;
                        transition: all 0.2s;
                      }
                    }
                }
                .add {
                  padding: 0;
                  border: 0;
                  width: auto;
                  height: auto;
                  background-color: transparent;
                  outline: none;
                  span.icon-liked {
                    font-size: 24px;
                  }
                  &:hover,
                  &:focus {
                    span.icon-liked .path2 {
                      display: none;
                    }
                  }
                }
            }
            img {
              display: block;
              width: 100%;
            }
        }
        .item_title {
          font-size: 15px;
          font-family: $font-family_semibold;
          line-height: 20px;
          margin-bottom: 8px;
        }
        .price {
          display: flex;
          align-items: center;
          margin-bottom: 4px;
            .new {
              color: $color-green;
              font-size: 18px;
              font-family: $font-family_semibold;
              margin-right: 12px;
            }
            .old {
              color: #CCCCCC;
              font-size: 13px;
              text-decoration: line-through;
            }
        }
        .ability {
          display: flex;
          align-items: center;
          margin-bottom: 8px;
          p {
            font-size: 13px;
            font-family: $font-family_bold;
          }
          .qtt {
            margin-left: 8px;
            display: flex;
            align-items: center;
            span {
              width: 20px;
              height: 5px;
              content: '';
              margin-right: 1px;
                &:last-child {
                  margin-right: 0;
                }
            }
            .green {
              background-color: #A6F3B2;
            }
            .yellow {
              background-color: #FFD600;
            }
            .red {
              background-color: #F3A6A6;
            }
          }
        }
      .item_action {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .btn {
          width: -webkit-fill-available;
            &:first-child{
              margin-right: 10px;
            }
        }
      }
      &:nth-child(3n+3) {
        margin-right: 0;
      }
    }
}

.show_more {
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.adv_block {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 32px;
  margin-bottom: 40px;
  border-bottom: 1px solid $color-border;
  .left {
    margin-right: 32px;
    width: -webkit-fill-available;
    .accordion {
      width: 100%;
    }
    .accordion__item_open .accordion__content {
      p {
        margin-bottom: 10px;
        color: #757575;
      }
    }
  }
}

.adv_item {
  border: 1px solid $color-green;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  border-radius: 10px;
  max-width: 270px;
    span {
      margin-right: 12px;
    }
    p {
      font-family: $font-family_semibold;
      font-size: 16px;
      line-height: 20px;
      color: $color-green;
    }
}

.slider_catalog, .slider_categories {
  .slick-list {
    margin-right: -32px;
  }
  width: 100%;
  flex-wrap: nowrap;
  .catalog_tile__item:nth-child(3n+3) {
    margin-right: 32px;
  }
}

.slider_categories .catalog_tile__item {
    .item_img {
      min-height: unset;
    }
}

.gallery_slider {
  margin-bottom: 32px;
  &__item {
    width: auto;
    margin-right: 12px;
    border-radius: 7px;
    overflow: hidden;
    max-height: 270px;
      img {
        width: 100%;
        object-fit: cover;
      }
  }
}

.feed_slider {

}

.block_title {
  .btn_go {
    display: none;
  }
}

.mobile {
  display: none;
}

.submenu {
  display: none;
}

.bc {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
    span {
      padding: 0 3px;
    }
    p {
      color: #959595;
    }
}

.slider {
  overflow: hidden;
}

.feedback_page, .page-item, .page-search, .page-cart {
  .block_title.main_cat_title {
    flex-direction: column-reverse;
    align-items: flex-start;
      .block_title__info {
        margin-bottom: 12px;
      }
  }
}

@media (max-width: 1199px) {

  .page__item {
    padding: 0 20px;
  }

  .page-container {
    padding-bottom: 60px;
  }

  .submenu {
    display: block;
  }

  .footer_bottom .footer__inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .adv_block {
    border-bottom: none;
    padding-bottom: 0;
  }

  .desktop {
    display: none !important;
  }

  .mobile {
    display: block;
  }
  .block_title {
    .btn_go {
      display: block;
    }
  }

  .catalog_buttons {
    width: 100%;
    overflow-x: auto;
    margin-bottom: 32px;
    &::-webkit-scrollbar {
      width: 0;
    }
      &__inner {
        width: max-content;
      }
  }

  .page__item .main_content {
    width: 100%;
  }

  .catalog_tile.static_tile {
    .catalog_tile__item {
      width: calc(50% - 16px);
      &:nth-child(3n+3) {
        margin-right: 32px;
      }
      &:nth-child(2n+2) {
        margin-right: 0;
      }

    }
  }
  .slider_main__slide {
    width: 100%;
  }
  .filters {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
      .left {
        width: 100%;
        margin-bottom: 20px;
        justify-content: space-between;
      }
      .right {
        width: 100%;
        justify-content: flex-end;
      }
  }

  .block_title.main_cat_title {
      display: none;
  }

  .slick-slider {
    overflow: hidden;
  }

  .m_articles {
    width: 100%;
      .m_title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
          h2 {
            margin-bottom: 0;
          }
      }
      .articles_box.m_tile {
        margin-bottom: 40px;
        flex-wrap: wrap;
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
          .articles_box__item {
            display: block;
            width: calc(50% - 16px);
            margin-right: 32px;
              &:nth-child(2n) {
                margin-right: 0;
              }
          }
      }
  }
}


@media (max-width: 640px) {

  .catalog_tile__item .item_img {
    min-height: unset;
  }

  .page__item {
    padding: 0 16px;
  }

  .adv_block {
    flex-direction: column-reverse;
      .right {
        width: 100%;
          .adv_item {
            width: 100%;
            max-width: unset;
          }
      }
      .left {
        margin-right: 0;
        width: 100%;
      }
  }

  .m_articles .articles_box.m_tile .articles_box__item {
    width: 100%;
    margin-right: 0;
  }

  .catalog_tile {
    .catalog_tile__item .item_action {
      flex-direction: column;
      align-items: flex-start;
        a.btn {
          width: 100%;
          &:first-child {
            margin-bottom: 6px;
          }
        }
    }
  }

  .catalog_tile__item {
    margin-right: 12px;
  }

  .catalog_tile.static_tile .catalog_tile__item:nth-child(3n+3) {
    margin-right: 12px;
  }

  .catalog_tile.static_tile .catalog_tile__item {
    width: calc(50% - 6px);
    margin-bottom: 12px;
    padding: 10px;
  }
  .catalog_tile.static_tile .catalog_tile__item:nth-child(2n+2) {
    margin-right: 0;
  }

  .catalog_tile__item .item_title {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 6px;
  }
  .catalog_tile__item .ability {
    display: none;
  }
  .page__item {
    padding-top: 16px;
  }
  .catalog_buttons {
    margin-bottom: 20px;
  }
  .filters .left {
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
      .btns {
        display: flex;
        width: 100%;
        margin-bottom: 20px;
          .btn {
            width: -webkit-fill-available;
          }
      }
      .price {
        width: 100%;
        margin-right: 0;
        margin-bottom: 12px;
          p {
            margin-right: 12px;
          }
          .price_box {
            width: auto;
            margin-right: 20px;
              &:last-child {
                margin-right: 0;
              }
              .form__item {
                width: -webkit-fill-available;
                max-width: 100px;
              }
          }
      }
  }
  .filters .right {
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
    .dropdown {
      margin-right: 0;
      position: relative;
      width: -webkit-fill-available;
      &:first-child {
        margin-bottom: 12px;
      }
    }
  }
  .catalog_tile__item .price .new {
    font-size: 14px;
  }
  .catalog_tile__item .price .old {
    font-size: 12px;
  }

  .catalog_tile__item .item_img .promo .fire {
    width: 20px;
    height: 20px;
      img {
        width: 14px;
      }
  }

  .catalog_tile__item .item_img .promo .add {
    svg {
      width: 16px;
      height: 16px;
    }
  }

  .slick-dots {
    bottom: 10px;
    li button {
      width: 8px;
      height: 8px;
    }
    li.slick-active {
      width: 8px;
      height: 8px;
    }
    li.slick-active button {
      width: 8px;
      height: 8px;
    }
  }

  .page__item .main_content .slider_slide {
    margin-bottom: 20px;
  }

  .mobile h1, h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }

    h2 {
      font-size: 18px;
    }
  .catalog_buttons {
    padding-bottom: 0;
    margin-bottom: 10px;
  }
}