//subpages

.hero_block.hero_subpage {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.bc {
  padding-top: 40px;
  margin-bottom: 16px;
  &_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
      span {
        color: #F5F5F5;
        font-size: 14px;
        line-height: 18px;
      }
      li {
        padding: 0 8px;
          a {
            color: #F5F5F5;
            font-size: 14px;
            line-height: 18px;
            text-decoration: none;
          }
      }
  }
}

.hero_subpage__title {
  h1 {
    color: #fff;
  }
}

.page-subpage {
  .page__hero {
    margin-bottom: 40px;
  }
}

// центрированная группа страниц

.centered_group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

.enter_box {
  @extend .box-shadow;
  background-color: #fff;
  border-radius: 12px;
  min-width: 400px;
    &__title {
      padding: 32px 40px;
      p {
        font-size: 24px;
        font-family: $font-family_semibold;
      }
    }
    &__body {
      padding: 32px 40px;
      border-top: 1px solid $color-border;
        .forgot_link {
          margin-bottom: 24px;
          text-decoration: underline;
            &:hover {
              text-decoration: none;
            }
        }
      &_container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
          .left, .right {
            width: 50%;
          }
          .left {
            margin-right: 70px;
          }
      }
    }
    &__agr {
      width: 100%;
      padding: 32px 40px;
      border-top: 1px solid $color-border;
        p {
          opacity: 0.7;
        }
    }
    &__btns {
      width: 100%;
      padding: 32px 40px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      border-top: 1px solid $color-border;
        .left {
          p {
            color: #B0B0B0;
            max-width: 280px;
            font-size: 14px;
          }
        }
    }
    .btns_box {
      display: flex;
      align-items: center;
      justify-content: flex-end;
        .btn {
          width: -webkit-fill-available;
          &:last-child {
            margin-left: 20px;
            width: fit-content;
          }
        }
    }
  .steps_tile {
    margin-top: 32px;
    &__item {
      max-width: 240px;
      width: calc(33.333% - 27px);
      margin-right: 40px;
        .price_blue {
          font-size: 24px;
        }
        &:last-child {
          margin-right: 0;
        }
    }
  }
}

.reg_box {
  min-width: 640px;
  max-width: 640px;
    .enter_box__body {
      .form_outter {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        .form_box {
          margin-right: 20px;
          width: -webkit-fill-available;
          &:last-child {
            margin-right: 0;
          }
        }
        .long {
          width: 70%;
        }

        .short {
          width: 30%;
        }
        .half {
          width: 50%;
        }
      }
    }
}

.agreement {
  width: 100%;
    .inline-label {
      p {
        font-size: 13px;
      }
      a {
        font-size: 13px;
        text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
      }
    }
}

.centered_group_box .enter_box__agr .agreement.agr_spoiler {
  max-width: 100%;
    .accordion {
      margin-bottom: 20px;
      .accordion__item_open .accordion__content {
        padding: 0;
      }
    }
}


.no-top {
  border-top: 0;
}

.file_disabled {
  cursor: default;
  position: relative;
  background-color: #F5F6F8 !important;
  color: #666667;
    .icon-01 {
      color: #BCBCBC;
      margin-right: 12px;
    }
  .hint {
    @extend .box-shadow;
    z-index: 1;
    border-radius: 12px;
    width: max-content;
    max-width: 400px;
    position: absolute;
    top: 90%;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    padding: 12px 20px;
    transition: all 0.3s;
    p {
      opacity: 0.5;
      font-size: 14px;
      margin-right: 0;
    }
  }
  &:hover {
    .hint {
      opacity: 1;
      visibility: visible;
    }
  }
}

.ready_files {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
    .added_files__item {
      margin-right: 20px;
    }
}

.ready_file {
  cursor: pointer;
  transition: all 0.2s;
  text-decoration: none;
  p {
    text-decoration: none;
    color: $color-black;
  }
  .icon-01 {
    color: $color-blue;
    margin-right: 12px;
  }
    &:hover {
      background-color: #E6EEF6 !important;
    }
}

.enter_box__body_freeform {
  width: 100%;
}

.divider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
    p {
      font-size: 12px;
      color: $color-blue;
      opacity: 0.5;
      margin-right: 12px;
      width: max-content;
      white-space: nowrap;
    }
    .line {
      content: '';
      height: 1px;
      background-color: $color-blue;
      opacity: 0.2;
      width: -webkit-fill-available;
    }
}

.passport_info {
  .left {
    width: 75%;
    margin-right: 30px;
  }
  .right {
    width: 25%;
  }
}

.address_info {
  .left {
    width: 100%;
    margin-right: 0;
  }
}

.with-btn {
  display: flex;
  align-items: center;
    .search {
      margin-right: 20px;
    }
}

.pagination {
  margin-top: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .left {
    display: flex;
    align-items: center;
    .pag {
      margin-right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      background-color: #e9f1fa;
      border-radius: 50%;
      color: $color-blue;
      text-decoration: none;
        &:hover {
          background-color: $color-blue;
          color: #fff;
        }
    }
    .pag_active {
      background-color: $color-blue;
      color: #fff;
    }
  }
}

.rekvisit {
  width: 100%;
  &_line {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    margin-bottom: 16px;
    border-bottom: 1px solid $color-border;
      .rl_text {
        width: 50%;
        text-align: left;
        opacity: 0.7;
      }
      .text_bold {
        font-family: $font-family_semibold;
      }
  }
}

.form_sms {
  max-width: 400px;
  margin-bottom: 20px;
}


@media (max-width: 1199px) {
  .reg_box {
    min-width: unset;
    max-width: 100%;
  }
  .enter_box__body {
    padding: 20px 24px;
  }
  .enter_box__title, .enter_box__agr, .enter_box__btns {
    padding: 20px 24px;
  }
}

@media (max-width: 640px) {
  .enter_box__title p {
    font-size: 20px;
  }
  .reg_box .enter_box__body .form_outter {
    flex-direction: column;
    align-items: flex-start;
  }
  .reg_box .enter_box__body .form_outter .form_box {
    margin-right: 0;
  }
  .reg_box .enter_box__body .form_outter .long {
    width: 100%;
  }
  .reg_box .enter_box__body .form_outter .short {
    width: 100%;
  }
  .reg_box .enter_box__body .form_outter .half {
    width: 100%;
  }
  .enter_box__body {
    padding: 16px;
  }
  .enter_box__title, .enter_box__agr, .enter_box__btns {
    padding: 20px 16px;
  }
  .enter_box__btns {
    flex-direction: column;
    align-items: flex-start;
      .left {
        margin-bottom: 16px;
      }
  }

  .enter_box {
    min-width: 100%;
  }

  .catalog_inner .catalog_body .search_box {
    margin-bottom: 24px;
    flex-direction: column;
    align-items: flex-start;
      .search {
        margin-bottom: 16px;
        margin-right: 0;
      }
      .btn {
        width: 100%;
      }
  }

  .pagination {
    flex-direction: column-reverse;
    align-items: flex-start;
      .right {
        margin-right: 0;
        margin-bottom: 16px;
      }
  }

  .rekvisit {
    width: 100%;
      .rekvisit_line {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        p.text_bold {
          margin-bottom: 12px;
        }
        .rl_text {
          width: 100%;
        }
      }
  }

  .agr_spoiler {
    .accordion__text {
      max-width: 85%;
    }
  }

}