.submenu {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;
  padding: 8px 0;
  background-color: $color-white;
  border-top: 1px solid #DEDEDE;
    &__inner {
      width: 100%;
      padding: 0 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
        &_item {
          flex-direction: column;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px;
          color: $color-black;
          text-decoration: none;
            &:last-child {
              margin-right: 0;
            }
            span {
              font-size: 20px;
              margin-bottom: 2px;
                &::before {
                  color: $color-green;
                }
            }
            p {
              font-family: $font-family_semibold;
              font-size: 12px;
              color: $color-black;
              text-decoration: none;
            }
            span.quantity {
              position: absolute;
              top: 2px;
              right: 6px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $color-white;
              font-size: 10px;
              background-color: $color-black;
              width: 16px;
              height: 16px;
              border-radius: 50%;
            }
        }
      .submenu_cart {
        position: relative;
      }
      .submenu_search {
        cursor: pointer;
      }
    }
}

.search_container {
  position: fixed;
  bottom: 0;
  height: 60px;
  z-index: 6;
  width: 100%;
  background-color: $color-white;
  padding: 0 16px;
  display: none;
  align-items: center;
  justify-content: space-between;
    .form__item {
      margin-right: 16px;
      width: -webkit-fill-available;
      color: $color-black;
    }
}

.showed {
  display: flex;
}

.close {
  position: relative;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  height: auto;
  display: block;
}