
.item_main .left {
  width: 50%;
  display: flex;
  margin-right: 32px;
}

.tabs__item {
  display: none;

  &.active {
    display: block;
    color: $color-black;
    text-align: center;
  }
}

.tabs {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.tabs__buttons {
  list-style-type: none;
  display: flex;
  padding: 0;
  flex-direction: column;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 12px;
  li {
    margin-bottom: 12px;
    max-width: 120px;
    max-height: 120px;
    border-radius: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    img {
      width: 100%;
      object-fit: contain;
      display: block;
      height: 100%;
    }
  }
}

.tabs__btn {
  border: 1px solid $color_border;
  margin: 0;
  transition: all 0.2s;
  cursor: pointer;
  padding: 12px;
  &:hover {
    border: 1px solid $color-green;
  }
}

.tabs__btn_active {
  transition: all 0.2s;
  border: 1px solid $color-green;
}

.tabs__content {
  border: 1px solid $color_border;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  img {
    max-height: 300px;
    display: block;
    width: 100%;
    object-fit: contain;
  }
}

.tabs__content img {
  display: block;
  max-width: 300px;
  width: auto;
  margin: 0 auto;
}

//отзывы

.feedback_tabs {
  flex-direction: column;
    .feedback__buttons {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: flex-start;
      overflow: auto;
      &::-webkit-scrollbar {
        width: 0;
      }
        .stars {
          border: 1px solid $color-border;
          display: flex;
          border-radius: 10px;
          margin-bottom: 20px;
          align-items: center;
          white-space: nowrap;
          text-decoration: none;
          color: $color-black;
          padding: 6px 12px;
          width: 154px;
          justify-content: space-between;
          max-width: unset;
          background-color: #F6F6F6;
          border-color: #F6F6F6;
          margin-right: 12px;
            .raiting {
              margin-right: 6px;
            }
          &:last-child {
            margin-right: 0;
          }
        }
        .active_f {
          border-color: $color-green;
          background-color: #fff;
        }
    }
}

.stars4 {
  span.icon-raiting {
    &:last-child {
      &:before {
        color: $color-gray-20;
      }
    }
  }
}

.stars3 {
  span.icon-raiting {
    &:nth-child(4) {
      &:before {
        color: $color-gray-20;
      }
    }
    &:last-child {
      &:before {
        color: $color-gray-20;
      }
    }
  }
}

.stars2 {
  span.icon-raiting {
    &:nth-child(3) {
      &:before {
        color: $color-gray-20;
      }
    }
    &:nth-child(4) {
      &:before {
        color: $color-gray-20;
      }
    }
    &:last-child {
      &:before {
        color: $color-gray-20;
      }
    }
  }
}

.stars1 {
  span.icon-raiting {
    &:nth-child(2) {
      &:before {
        color: $color-gray-20;
      }
    }
    &:nth-child(3) {
      &:before {
        color: $color-gray-20;
      }
    }
    &:nth-child(4) {
      &:before {
        color: $color-gray-20;
      }
    }
    &:last-child {
      &:before {
        color: $color-gray-20;
      }
    }
  }
}